<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Us</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h2>Contact Us</h2>
  <form action="contact" method="post">

    <label for="name">Name</label><br>
    <input id="name" name="name" type="text"><br>

    <label for="dept">Dept.</label><br>
    <input id="dept" name="dept" type="text"><br>

    <input type="submit">
  </form>
</body>
</html>